[toolchain]
package_manager = "npm"

[features]
resolution = true
skip-lint = false

[programs.devnet]
decentra_vote = "42PAsekJegAk4u3po7Jmb6sfKV1onvJotEED4yXZ4HzQ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false
